	/* Monta imagem circular css3 */ 
	.circular {
		width: 300px;
		height: 300px;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
		background: url(http://link-to-your/image.jpg) no-repeat;
	}
	
	.textoDestaque1 {
		font-family: Arial, verdana;
		font-size: 14px;
		font-weight: bold;
		color: #2A2230;
	
	}
	
	
	.textoDestaque2 {
		font-family: Arial, verdana;
		font-size: 16px;
		font-weight: bold;
		color: #2A2230;
	
	}
	
	.textoDestaque3 {
		font-family: Arial, verdana;
		font-size: 16px;
		font-weight: bold;
		color: #E34C4C;
	
	}